*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
 } 
h1{
    background-color: rgb(50, 105, 142);
    text-align: center;
    margin: 0px;
    padding: 25px;
}
header{
    padding: 25px;
    margin: 0px;
    background-color: rgb(141, 190, 235);
    color:black;
    text-align: center;
    overflow: hidden;
}

.nav{
    margin: 4px;
    padding: 30px;
    font-size: 20px;
    margin-top: 5px;
    color: aliceblue;
    
    text-decoration : none;
}
.nav:hover{
    background-color: rgb(50, 105, 142); 
    cursor: pointer;
    
}

header p{
    float: right;
    cursor: pointer;
}
.hey{
    display:flex;
}
.protein{
    margin-top: 70px;
    color: aliceblue;
    text-align: center;
}
section div{
    background-color: aliceblue;
    text-align: center;
    border: 3px solid black;
    padding: 5px;
    margin: 30px;
    margin-left: 270px;   
}
.supp{
    text-align: center;
    width: 900px;
    height: 400px;
}
#div1{
    margin-top: 100px;
}

#div1 img{
    width: 410px;
    height: 400px;
    float: left;    
}
#div1 p{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
.a1{
    padding: 0%;
    color: blue;
}
.a1:hover{
    background-color: rgb(50, 105, 142);
    cursor: pointer;
}
#div2 img{
    width: 410px;
    height: 400px;
    float: right;
}
#div2 p{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#div2 a{
    color: blue;
}

#div3 img{
    width: 410px;
    height: 400px;
    float: left;
}
#div3 p{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#div3 a{
    color: blue;
}
#div4 img{
    width: 410px;
    height: 400px;
    float: right;
}
#div4 p{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#div4 a{
    color: blue;
}

#div5 img{
    width: 410px;
    height: 400px;
    float: left;    
}
#div5 p{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#div a{
    color: blue;
}

#div6 img{
    width: 410px;
    height: 400px;
    float: right;
}
#div6 p{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#div6 a{
    color: blue;
}
#div7 img{
    width: 410px;
    height: 400px;
    float: left;
}
#div7 p{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#div7 a{
    color: blue;
}
#div8 img{
    width: 410px;
    height: 400px;
    float: right;
}
#div4 p{
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
}
#div4 a{
    color: blue;
}
